.navbar{
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    padding: 1rem;
    text-align: center;
     
}
.navbar button{
     padding: 0.75rem 0.75rem;
    margin: 1rem;
    border-radius: 2rem;
    border:none;
    background-color: none;
}
.navbar h4{
    padding: 0.5rem 0.75rem;
    margin: 1rem
}


.filter-btn-active{
     padding: 0.75rem 0.75rem;
    margin: 1rem;
    border-radius: 2rem;
    border:none;
    background-color: rgb(206, 206, 206);
}